html {
    scroll-behavior: smooth;
}
body {
   
        background-image: url('wom1.jpg');
        background-size: cover;
        background-position:right;
        background-attachment: fixed;
       
      }
       
h1{
    color:brown;
   
}
form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label[for="age"] {
    font-size: 23px;
    color:white;
    font-weight: 100;
}
label[for="systolic_bp"] {
    font-size: 23px;
    color:white;
    
  }
label[for="diastolic_bp"] {
    font-size: 23px;
    color:white;
    
  }
label[for="glucose"] {
    font-size: 23px;
    color:white;
    
  }
label[for="body_temp"] {
    font-size: 23px;
    color:white;
   
  }
label[for="heart_rate"] {
    font-size: 23px;
    color:white;
    
  }


input[type="number"] {
    width: 200px;
    height: 28px;
    padding: 10px;
    font-size: 26px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid brown;
   
  }
  input[type="submit"] {
    width: 150px;
    height: 27px;
    font-size: 20px;
    margin-bottom: 18px;
    border-radius: 18px;
    background-color: rgb(242, 6, 187);
  }


