html {
    scroll-behavior: smooth;
}
body {
   
        background-image: url('wom1.jpg');
        background-size: cover;
        background-position:right;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
        margin: 0;
       
      }
h1{
    color:brown;
    font-size: 50px;
}



h2{
    text-align: center;
    color: blue;
    font-size: 40px;
}
h3 {
    text-align: center;
    color: red;
    font-size: 40px;

}
h4{
    text-align: center;
    color: goldenrod;
    font-size: 35px;
}

button{
    
        display: block;
        margin: 50px auto;
        padding: 15px 30px;
        font-size: 18px;
        background-color:lightcoral;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button:hover {
        background-color: #3e8e41;
      }
     
