.home {
    background-color:white;
    z-index: 2;
}

.canvas_container {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    margin-left: 250px;
    height: 100%;
    overflow: hidden;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.canvas_container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.content-for-home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-container {
    position: relative;
}

button {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color:transparent;
    color:black;
    border:solid 2px purple;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


  
button:hover {
    background-color: #3e8e41;
}

.content-for-home .img-container {
    width: 1350px;
    height: 850px;
    background: url("../img/p1.jpg");
    background-position: center;
    background-size: cover;
    font-style: inherit;
    font-size: 30px;
    color: indigo;
}

.content-for-home .img-container .logo {
    width: 50px;
    height: 50px;
    background: url("../img/pregnency women2.jpg");
    background-position: top;
    background-position: center;
    background-size: cover;
}

.content-for-home .img-container img {
    object-fit: cover;
}
.content-for-home .img-container .h2{
    color:aquamarine;
}








.side-nav {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
}

.side-nav button {
    position: relative;
    display: block;
    border: none;
    color:white;
    font-weight: bolder;
    margin: 10px 0;
    width: 50px;
    height: 50px;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.side-nav button:hover .w {
    font-size: 0px;
}

.side-nav button .w {
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    font-size: 30px;
}

.side-nav button .tooltip {
    position: absolute;
    font-size: 3em;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 100vw;
    opacity: 0;
    color: blue;
    text-align: right;
    visibility: hidden;
    border-radius: 500px;
    z-index: -1;
    text-transform: capitalize;
    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.side-nav button:hover .tooltip {
    left: 0%;
    visibility: visible;
    opacity: 1;
}

.side-nav button::before,
.side-nav button::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:pink;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.side-nav button::before {
    clip-path: polygon(50% 0, 100% 27%, 100% 73%, 50% 100%);
}

.side-nav button::after {
    clip-path: polygon(0 27%, 50% 0, 50% 100%, 0 73%);
}

.side-nav button:hover::after {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

@media (max-width: 768px) {
    .canvas_container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 491px) {
    .side-nav {
        position: relative;
        text-align: center;
        top: inherit;
        bottom: 0;
        right: inherit;
        margin-top: 100px;
    }

    .side-nav button {
        display: inline-block;
    }

    .side-nav button::before,
    .side-nav button::after {
        transform: rotate(-90deg);
    }

    .side-nav button .tooltip {
        display: none;
    }
}

@media (max-width: 306px) {
    .content-for-home .img-container {
        width: 200px;
        height: 200px;
    }

    .side-nav {
        margin-top: 150px;
    }
}

@media (max-width: 400px) {
    .content-for-home .img-container {
        width: 50px;
        height: 50px;
        background: url("../img/pregnency women2.jpg") no-repeat top left;
        background-size: cover;
    }
}
