.home {
    background-color:white;
    z-index: 2;
}

.canvas_container {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    margin-left: 250px;
    height: 100%;
    overflow: hidden;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.canvas_container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.content-for-home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}