html {
    scroll-behavior: smooth;
}
body {
   
        background-image: url('../resources/wom1.jpg');
        background-size: cover;
        background-position:right;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
        margin: 0;
       
      }
h1{
    color:brown;
}



h1, h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

a {
    display: block;
    text-align: center;
    margin-top: 50px;
}
